.chromestyle{
width:980px;

}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 0px solid #BBB;
width:980px;
 /*THEME CHANGE HERE*/

margin: 0;
text-align: center; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:19px; color:#FFF;
padding: 37px  37px; line-height:66px; padding-bottom:8px;
margin: 0;
text-decoration: none;
background: url(../images/menu-line.jpg) no-repeat right;

}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
background: url(../images/menu-line.jpg) no-repeat right; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:19px; color:#000;
	
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid black; border-top:0px; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 13px Trebuchet MS;
line-height:22px;
z-index:100;
background-color:#ec8a1f; 
width: 186px; color:black; margin-left:-6px;
visibility: hidden;
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #000; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;

color: white;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #426432;
}