@charset "utf-8";

.home{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#050643;

	}

h1{

	margin:0;

	padding:0;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:10px;

	color:#ffffff;

	}



.home a{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:10px;

	color:#050643;

	text-decoration:none;

	}



.menu{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#ffffff;

	text-decoration:none;

	}



.menu a{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#ffffff;

	text-decoration:none;

	}



.menu a:hover{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#d73d2c;

	text-decoration:none;

	}

.menu2{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000000;

	text-decoration:none;

	}



.menu b{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#88C646;

	text-decoration:none;

	}



.menu b:hover{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#88C646;

	text-decoration:none;

	}



.border-right{

	border-right:1px solid #cce1ea;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#000000;

	}



.text{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000000;

	}



.text a{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#000000;

	text-decoration:underline;

	}

	

.welcome{

	font-family:Arial, Helvetica, sans-serif;

	font-size:19px;

	color:#3A3838;

	text-decoration:none;

	}

	

.inputfield{

	padding:2px 0 0 5px;

	width:150px;

	height:22px;

	border-top:1px solid #8F8F8F;

	border-left:1px solid #8F8F8F;

	border-bottom:1px solid #E9E9E9;

	border-right:1px solid #E9E9E9;

	background:#FFFFFF;

	font-family:Verdana;

	font-size:11px;;

	font-weight:normal;

	}



.addfield{

	padding:2px 0 0 5px;

	width:150px;

	border-top:1px solid #8F8F8F;

	border-left:1px solid #8F8F8F;

	border-bottom:1px solid #F0F0F0;

	border-right:1px solid #F0F0F0;

	background:#FFFFFF;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	}



.rate{	

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#20618f;

	text-decoration:none;

	line-height:12px;

	}



.no-spam{	

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#ff2000;

	}

	

.number{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:16px;

	color:#ff2000;

	}



.borders{

	 border:1px solid #bad1da;

	 }



.number-right{

	font-family:Arial, Helvetica, sans-serif;

	font-size:16px;

	color:#ff2000;

	letter-spacing:5px;

	}



.time{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000000;

	}



.business-cash{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:15px;

	color:#464647;

	}



.business-cash-text{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#464647;

	letter-spacing:0;

	}



.footer{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#000000;

	text-decoration:underline;

	}



.footer a{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#000000;

	text-decoration:none;

	}

		

.apply{

	font-family: Arial, Helvetica, sans-serif;

	font-size:16px;

	color:#ff0000;

	}





